<div>
  <div>
    <form [(ngModel)]="myCharacter">
      <div class="continer">
        <div class="row">
          <div class="col col1">
            <div>
              <p>Level:
                <input type="text" name="level" [(ngModel)]="myCharacter.Level" />
              </p>
            </div>
            <div>Stat points available: {{myCharacter.Level * 5}}</div>
            <div>
              <label for="selectClass">Class:</label>
              <select class="form-control" id="selectClass" [(ngModel)]="selectedClass" name="selectedClass">
                <option *ngFor="let c of ClassList" value="{{c}}">{{c.Name}}</option>
              </select>
            </div>
            <div *ngIf="selectedClass !== undefined" class="row">
              <table>
                <th>Slot</th>
                <th>Required Strength</th>
                <th>Required Dexterity</th>
                <th>Bonus Strength</th>
                <th>Bonus Dexterity</th>
                <tr *ngFor="let i of myCharacter.Items">
                  <td>{{i.Slot}}</td>
                  <td class="text-center">{{i.RequiredStr}}</td>
                  <td class="text-center">{{i.RequiredDex}}</td>
                  <td class="text-center">{{i.AddedStr}}</td>
                  <td class="text-center">{{i.AddedDex}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col col2">
            <div>Order of Equip
              <ol>
                <li></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>