<div class="mainDiv">
  <div class="addPaddingToMe">
    <div class="row">
      <div class="col1">
        Starting Strength
      </div>
      <div class="col2" *ngIf="character.Class">{{character.Class.BaseStrength}}</div>
      <div class="col3">{{bonusStr}}</div>
    </div>
    <div class="row">
      <div class="col1">
        Starting Dexterity
      </div>
      <div class="col2" *ngIf="character.Class">{{character.Class.BaseDexterity}}</div>
      <div class="col3">{{bonusDex}}</div>
    </div>
    <!-- Required Strength: <div>{{totalRequiredStr}}</div>
    Required Dexterity:<div>{{totalRequiredDex}}</div>
    Total Strength From Items: <div>{{totalAddedStr}}</div>
    Total Dexterity From Items: <div>{{totalAddedDex}}</div>
    Item Equip Order: 
    <ol>
      <li *ngFor="let i of character.Items">{{i.Slot}}: {{i.RequiredStr}}</li>
    </ol> -->
  </div>
</div>